@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Manrope', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: black;
  color: white;
  padding: 20px;
}

h1{
  font-size: 30px;
}

h2, h3{
  text-align: center;
}

h1::first-letter{
  color: red;
}

header ul{
  display: flex;
  gap: 5px;
}

header ul li{
  list-style-type: none;
}

header li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 9px;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

header li a:hover{
  background-color: red;
  color: black;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 15px 60px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 40px;
  text-align: center;
}

.card-game img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

.image-container{
  height: 350px;
  width: 100%;
  overflow: hidden;
  border: 1px solid lightgray;
}

.card-game img:hover{
  transform: scale(1.1);
}

.btn{
  margin-top: 30px;
  padding: 10px 90px;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn:hover{
  background-color: red;
  color: white;
}

#rpg + #rts{
  margin-top: 80px;
}