body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

main p{
  background-color: blue;
}

.inline-block{
  display: inline-block;
  width: 45%;
}

.inline{
  display: inline;
  width: 45%;
}

section button{
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
}
